@font-face {
	font-family: signika_regular;
	src: url('../fonts/Signika-Regular.ttf'),
	 	url('../fonts/Signika-Regular.eot');
}
@font-face {
	font-family: signika_light;
	src: url('../fonts/Signika-Light.ttf'),
		 url('../fonts/Signika-Light.eot');
}
@font-face {
	font-family: din_light;
	src: url('../fonts/din_light.ttf'),
		 url('../fonts/din_light.eot');
}
*{
    margin:0;
    padding:0;
}
body{
    background:red;
    font-family:Georgia;
    font-size: 34px;
    font-style: italic;
    letter-spacing:-1px;
    width:20000px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
	overflow:hidden;
	background: #82cfca;
}
.section{
    margin:0px;
    bottom:0px;
    width:4000px;
    float:left;
    height:100%;
	background-color: #82cfca;
}
.home {
	color: #fff;
	background: #82cfca url('../images/bg_home2.jpg') no-repeat top left;
	background-size: auto 100%;
}
.cobertura {
	background: #82cfca url('../images/bg_cobertura2.jpg') no-repeat top left;
	/*background-size: auto 100%;*/
}
.apartamentos {
	background: #82cfca url('../images/bg_apartamentos2.jpg') no-repeat top left;
/*	background-size: auto 100%;	*/
}
.comerciais {
	background: #82cfca url('../images/bg_comerciais2.jpg') no-repeat top left;
	/*background-size: auto 100%;*/
}
/*desenho do andar no canto direito*/
.andar {
	position: fixed;
	right: 0px;
	margin: 30px 0px;
	background: transparent url(../images/miniatura_predio.png) no-repeat;
	z-index: 99999;
	width: 150px;
	height: 120px;
}
.andar p {
	border: 2px solid #000;
	width: 32px;
	height: 12px;
	border-radius: 2px;
	margin-top: 0px;
	margin-left: 55px;
	display: none;
}
/*fim do andar*/
.section .nav {
	list-style: none;
	margin: 20px 0px 0px 550px;
	z-index: 9999;	
	bottom: 0px;
	position: fixed;
	list-style: none;
	margin: 20px 0px 30px 300px;	
	width: 70%;
}
.section .nav li {
	float: left;
	padding: 1.33% 2.56% 0px 1.77%;
	text-align: right;
	width: 13.555%;
	height: 80px;
}

.section .nav_mini {
	list-style: none;
	margin: 20px 0px 0px 550px;
	z-index: 1;	
	bottom: 0px;
	position: fixed;
	list-style: none;
	margin: 20px 0px 30px 300px;	
	width: 70%;
}
.section .nav_mini li {
	float: left;
	padding: 1.33% 2.56% 0px 1.77%;
	text-align: right;
	width: 13.555%;
	height: 0px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.section ul a, .section ul li{
	font-family: 'signika_regular';
	font-size: 17px;
	font-weight: normal;
	text-transform: none;
	text-decoration: none;
	color: #fff;
	font-style:normal;
}
.bt_home {
	background-color: #686868;
}
.bt_cobertura {
	background-color: #82cfca;
}
.bt_apartamentos {
	background-color: #8a2529;
}
.bt_salas {
	background-color: #fcb040;
}
.bt_localizacao {
	background-color: #024f4a;
}
.fixo_top, .fixo_right, .fixo_bottom, .fixo_left {
	position: fixed;
	background: #FFF;
	
}
.fixo_top {
	width: 100%;
	height: 30px;
}
.fixo_right {
	width: 25px;
	height: 100%;
	right: 0px;
}
.fixo_bottom {
	bottom: 0px;
	height: 30px;
	width: 100%;
}
.fixo_left {
	width: 25px;
	height: 100%;
	left: 0px;
}
.bt_left {
	background: transparent url('../images/seta_left.png') no-repeat ;
	position: fixed;
	top: 35%;
	width: 60px;
	height: 200px;
	margin-left: 24px;
	z-index: 999999;
}
.bt_left a {
	position: fixed;
	padding-top: 74px;
	margin: 9px 0px 9px -5px;
}
.bt_right {
	background: transparent url('../images/seta_right.png') no-repeat ;
	position: fixed;
	top: 35%;
	width: 60px;
	height: 200px;
	right: 19px;
	z-index: 999999;
}
.bt_right a {
	position: fixed;
	padding-top: 74px;
	margin: 9px 0px 9px 18px;
}
.bt_right a img , .bt_left a img, .footer img {
	border: none;
}
.home_inner, .cobertura_inner, .apartamentos_inner, .localizacao_inner {
	width: 82%;
	float: left;
	font-size: 0.85em;
	position: relative;
	color: #686868;
	margin: 30px 35px 0px 40px;
	padding: 0px;
	display: inline;
	height: 94%;
}

.logo_imagem {
	margin: 80px 200px 0px 0px;
	right: 0px;
	position: absolute;
}
.logo_elvira {
	background: transparent url('../images/logo_elvira.png') no-repeat left top;
	width: 125px;
	height: 177px;
	margin-top: 25px;
	margin-left: 55px;
	display: inline-block;
	z-index: 999;
	position: absolute;
	background-size: 100%;
}

/*COMPARTILHAR LINKS*/
.compartilhar {	position: fixed;
	bottom: 0px;
	right: 0px;
	margin: 0px 40px 60px 0px;
	z-index: 9999;
}
.compartilhar h5 {
	margin-bottom: 5px;
	font: normal 12px "signika_regular", Tahoma;
	color: #58595b;
	margin-right: 10px;
	text-align: right;
}
.compartilhar ul {
	list-style: none;
}
.compartilhar ul li {
	/*float: left;*/
	margin: -2px 0px;
	text-align: right;
	width: 59px;
	height: 60px;
}
.compartilhar .facebook {
	background: transparent url('../images/bt_compartilhe.png') no-repeat left top;
}
.compartilhar .twitter {
	background: transparent url('../images/bt_compartilhe.png') no-repeat -59px top;
}
.compartilhar .google {
	background: transparent url('../images/bt_compartilhe.png') no-repeat -118px top;
}
/*FIM DO COMPARTILHAR*/

/*RODAPE*/
.footer h3 {
	position: fixed;
	bottom: 7px;
	right: 30px;
	z-index:99999;
}
.footer h3 a, .footer h3, .footer h3 a:active{
	font: normal 13px "din_light", Tahoma;
	color: #686868;
	text-decoration: none;
	
}
.footer img {
	margin-left: 3px;
	margin-top: -2px;
}
/*FIM DO RODAPE*/

/*Fundo cinza*/
.back {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #000;
	opacity: 0.8;
}
/*FIM DO FUNDO CINza*/
/*Detalhes*/
.inner .detalhe {
	display: none;
	width: 2000px;
}
.detalhe_cobertura {
	display: inline-block;
	margin: 100px 0px 0px 200px;
}
.detalhe_comerciais {
	margin-left: 350px !important;
}

.detalhe_cobertura .planta_cobertura .ver_planta {
	font: normal 14px "signika_regular", Tahoma;
	color: #fff;
	background: #82cfca url('../images/bt_verplanta.png') no-repeat bottom left;
	width: 120px;
	height: 120px;
	text-align: center;
	cursor: pointer;
}
.detalhe_cobertura .planta_cobertura .ver_planta:hover {
	background-position: top left;
}
.ver_planta_ativo {
	background: #024f4a !important;
}
.detalhe_cobertura .planta_cobertura .ver_planta h4 {
	padding: 45px 5px 0px 5px;
}
.detalhe_cobertura .planta_cobertura .planta, .detalhe_cobertura .planta_cobertura .ver_planta, .descricao_cobertura, .imagens_cobertura, .planta_cobertura, .descricao_cobertura, .grupo_descricao{
	float: left;
}
.detalhe_cobertura .planta_cobertura .planta {
	margin: 15px 0px 0px -100px;
}
#apartamentos .planta_cobertura .planta {
	margin-top: 35px;
}
.detalhe_cobertura .planta_cobertura .planta img {
	width: 350px;
}
.detalhe_cobertura .planta_cobertura .planta ul{
	list-style: none;
}
/*Descrição*/
.section h2 {
	margin: 50px 0px 30px 0px;
}
.descricao_cobertura {
	text-align: center;
	width: 280px;
	background: #fff;
	margin: 0px 20px;
}
#comerciais .descricao_cobertura {
	width: 350px;
	padding-bottom: 30px;
}
#comerciais .descricao_cobertura h2, #comerciais .descricao_cobertura span, #comerciais .grupo_descricao h3{
	color: #fcb040 !important;
}
.descricao_cobertura h2 {
	color: #82cfca;
	font: normal 40px "signika_regular", Tahoma;
}
.descricao_cobertura p {
	color: #666666;
	font: normal 14px "signika_regular", Tahoma;
	margin: 20px 35px;
	line-height: 18pt;
	text-align: left;
}
.descricao_cobertura h5 {
	margin-right: 35px;
	text-align: right;
	color: #808285;
	font: normal 12px "signika_light", Tahoma;
}
.descricao_cobertura h5 span {
	color: #82cfca;
	font: normal 24px "signika_regular", Tahoma;
}
.icones {
	text-align: center;
}
.icones img {
	margin: 15px 5px;
}
.imagens_cobertura .grupo img {
	margin-bottom: 5px;
	width: 145px;
	height: 75px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.grupo_descricao {
	margin-left: 20px;
}

.grupo_descricao h3 {
	font: normal 21px "signika_regular", Tahoma;
	color: #82cfca;
	margin-bottom: 10px;
}
.grupo_descricao ul {
	list-style: none;
}
.grupo_descricao ul li {
	font: normal 14px "signika_regular", Tahoma;
	color: #fff;
	padding: 3px 0px;
}

.imagem_grande {
	background: none !important;
	padding: 0px !important;
}

.fundo_verde {
	height: 75px;
	background: #82cfca;
	width: 55px;
	float: left;
}
#apartamentos .fundo_verde, #apartamentos .detalhe_cobertura .planta_cobertura .ver_planta {
	background: #8a2529;
}
#apartamentos .detalhe_cobertura .planta_cobertura .ver_planta:hover {
	background: #8a2529 url('../images/ver_planta_red.jpg') no-repeat left top;
}
#apartamentos .descricao_cobertura h2, #apartamentos .descricao_cobertura span, #apartamentos .grupo_descricao h3 {
	color: #8a2529;
}
#comerciais .fundo_verde {
	background: #fcb040 !important;
}

.fixo_top, .fixo_right, .fixo_bottom, .fixo_left {
	position: fixed;
	background: #FFF;
	z-index: 99999;
}

/*FIM DO DETALHE*/


/*Imagem com zoom*/
.esticada {
	width: 600px !important;
	height: 380px !important;
}
.esticada, .logo_elvira, .logo_imagem, .logo_imagem img{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*fim do css da imagem com zoom*/

/*Tab localizacao*/
.localizacao_mapa {
	height: 100%;
	margin-left: -15px;
}

.localizacao_detalhes {
	width: 35%;
	background: #a7a9a9;
	position: absolute;
	right: 0;
	height: 100%;
	top: 0;
}

.localizacao_detalhes .detalhes_titulo h3{
	font: normal 18px 'signika_regular';
	color: #515151 ;
}
.detalhes_titulo {
	margin: 100px 0px 35px 70px;
	
}
.detalhes_titulo h3 {
	margin-bottom: 9px;
}
.detalhes_titulo hr {
	border: 1px outset #000;
	border-bottom: none;
	width: 230px; 
	text-align:left;
}
.detalhes_corpo {
	margin: 0px 200px 35px 70px;
}
.detalhes_corpo h4 {
	font: normal 28px "signika_regular", Tahoma;
	color: #fff;
	line-height: 38px;
}
.detalhes_corpo p {
	margin-top: 30px;
	font: normal 15px "signika_regular", Tahoma;
	color: #fff;
	line-height: 22px;
}
/*FIM da tab localizacao*/
/*BOTAO CONTATO*/
.contato_wrapper {
	bottom: 0px;
	position: fixed;
	padding-right: 130px;
	margin-bottom: 30px;
	z-index: 999;
}
.bt_contato {
	margin: 0px 0px 40px 70px;
	
}
.bt_contato a, .bt_contato a:hover{
	/*background: white;*/
	border-radius: 3px;
	padding: 15px 40px;
	background-color:#fcb040;	
	background-image: linear-gradient(to bottom, rgba(254,201,129,1), rgba(254,201,129,.6) 49%, rgba(254,201,129,0) 50%, rgba(254,201,129,.4));
	background-image: -moz-linear-gradient(top, rgba(254,201,129,1), rgba(254,201,129,.6) 49%, rgba(254,201,129,0) 50%, rgba(254,201,129,.4));	
	background-image: -webkit-linear-gradient(top, rgba(254,201,129,1), rgba(254,201,129,.6) 49%, rgba(254,201,129,0) 50%, rgba(254,201,129,.4));
	color: #fff;
	text-decoration: none;
	font-family: signika_regular;
	font-size:13px;
	font-style:normal;
}
.contato {
	position: absolute;
	margin: -470px 0px 0px 25px;
	display: none;
}
.contato_inner {
	background: #fcb040;
	padding: 1px;
}
.contato_inner h4 {
	font-family: signika_regular;
	font-size: 13px;
}
.contato_inner 	p{
	text-align: center;
	margin-bottom: 10px;
	font-family: signika_regular;
	font-size: 13px;
}
.contato .seta {
	background: transparent url('../images/seta_formulario.png') no-repeat bottom center;
	height: 15px;
	margin-top: -3px;
}
.contato form {
	margin: 20px 15px 50px 0px;
}
.contato h4 {
	float: left;
	display: block;
	width: 80px;
}

.campo_contato {
	margin: 5px 10px 5px 30px;
	font-family: signika_regular;
	font-size: 13px;
}
.campo_contato input, .campo_contato textarea, .campo_contato select {
	width: 140px;
	background: #fdbf68;
	border: 1px solid #fdb958;
	height: 20px;
	border-radius: 2px;
	padding: 0px 10px 0px 10px
}
.campo_contato textarea {
	overflow: hidden;
	resize: none;
	height: 120px;
}
.bt_enviar {
	right: 0;
	position: absolute;
	margin-right: 25px;
}
.bt_enviar input[type="submit"] {
	border: 1px solid #b85d32;
	background-color: #8a2529;
	color: #fff;
	padding: 5px 15px;
}
/*FIM DO BOTAO CONTATO*/



@media (max-width: 480px) {
	.fixo_right, .fixo_left {
		display: none;
	}
	
	.logo_imagem {
		margin: 0px auto;
	}
	.logo_imagem img {
		width: 300px;
		margin-top: 200px;
	}
	.nav {
		display: none;
	}
	.section {
		float: none;
		display: block;
		margin: 0px auto;
		width: auto;
		margin: 40px 20px;
	}
	.detalhe {
		display: inline-block !important;
		width: 100% !important;
	}
	.detalhe_cobertura {
		margin: 0px;
	}
	
	.logo_imagem img {
		width: 250px;
	}
	
}
@media (max-width :860px)  {
	.fundo_verde {
		height: 45px;
		width: 25px;
	}
	.imagens_cobertura .grupo img {
		width: 105px;
		height: 45px;
	}
	.esticada {
		width: 250px !important;
		height: 170px !important;
	}
	.detalhe_cobertura .planta_cobertura .planta img {
		width: 200px;
	}
	.logo_elvira {
		width: 80px;
		height: 115px;
		background-size: 100%;
	}
	.logo_imagem {
		margin-right: -100px;
		margin-top: 163px;
	}
	.logo_imagem img {
		width: 65%;
	}
	.compartilhar {
		display: none;
	}
	
}
@media (min-width : 860px) and (max-width :1400px)  {
	.fundo_verde {
		height: 75px;
		width: 55px;
	}
	.imagens_cobertura .grupo img {
		width: 145px;
		height: 75px;
	}
	.esticada {
		width: 450px !important;
		height: 270px !important;
	}
	
	.detalhe_cobertura .planta_cobertura .planta img {
		width: 300px;
	}
	.logo_elvira {
		width: 100px;
		height: 140px;
		background-size: 100%;
	}
	.logo_imagem {
		margin-right: 150px;
	}
	.logo_imagem img {
		width: 80%;
	}
	
}
@media (min-width: 1401px) {
	.esticada {
		width: 600px !important;
		height: 380px !important;
	}
	
	.logo_imagem img {
		width: 100%;
	}	
}
